# Data Wrangling

---

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

To note:
- `matplotlib` magic
- Library import and alias

## Gathering data

### Manual download

> [http://insideairbnb.com/get-the-data.html](http://insideairbnb.com/get-the-data.html)

![InsideAirBnb London](../figs/d1s3_iabb_download.png)

* `listings.csv.gz`
* `neighbourhouds.geojson`

### Automated

[Optional]

In [2]:
import requests

lst_url = 'http://data.insideairbnb.com/united-kingdom/england/london/2017-03-04/data/listings.csv.gz'
nbh_url = 'http://data.insideairbnb.com/united-kingdom/england/london/2017-03-04/visualisations/neighbourhoods.geojson'

* Download listings

In [3]:
# request object
r = requests.get(lst_url)
# Open target file for writing binary data
fo = open('data/listings.csv.gz', 'wb')
# Write file content
fo.write(r.content)
# Close file
fo.close()

**`Exercise`**: download the neighbourhoods file

To note:

* Download through `requests.get`
* Open/write/close local file
* Comments (`#`)

* **[Advanced]** Download both in a loop

In [4]:
%%time
for url in [lst_url, nbh_url]:
    # request object
    r = requests.get(url)
    # pull file name
    name = url.split('/')[-1]
    # Open target file for writing binary data
    fo = open('data/'+name, 'wb')
    # Write file content
    fo.write(r.content)
    # Close file
    fo.close()

Wall time: 34.4 s

To note:
* `%%time` magic
* Loop over a list
* Variable `url`
* Pull out name
* Compose target file path

## `File I/O:` Reading data in

In [5]:
lst = pd.read_csv('data/listings.csv.gz')

C:\Users\Eugeni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

To note:

* `read_XXX` pattern
* Path to file
* Reading a compressed (or remote) file
* Storing object `lst`
* Introduce the `DataFrame` and columns (`Series`)

In [6]:
lst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53904 entries, 0 to 53903
Data columns (total 95 columns):
id                                  53904 non-null int64
listing_url                         53904 non-null object
scrape_id                           53904 non-null int64
last_scraped                        53904 non-null object
name                                53903 non-null object
summary                             52458 non-null object
space                               36277 non-null object
description                         53894 non-null object
experiences_offered                 53904 non-null object
neighborhood_overview               31289 non-null object
notes                               20619 non-null object
transit                             32798 non-null object
access                              31288 non-null object
interaction                         29245 non-null object
house_rules                         33374 non-null object
thumbnail_url                       47050 non-null object
medium_url                          47050 non-null object
picture_url                         53904 non-null object
xl_picture_url                      47050 non-null object
host_id                             53904 non-null int64
host_url                            53904 non-null object
host_name                           53895 non-null object
host_since                          53895 non-null object
host_location                       53664 non-null object
host_about                          32704 non-null object
host_response_time                  40524 non-null object
host_response_rate                  40524 non-null object
host_acceptance_rate                0 non-null float64
host_is_superhost                   53895 non-null object
host_thumbnail_url                  53895 non-null object
host_picture_url                    53895 non-null object
host_neighbourhood                  40797 non-null object
host_listings_count                 53895 non-null float64
host_total_listings_count           53895 non-null float64
host_verifications                  53904 non-null object
host_has_profile_pic                53895 non-null object
host_identity_verified              53895 non-null object
street                              53904 non-null object
neighbourhood                       35920 non-null object
neighbourhood_cleansed              53904 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                53883 non-null object
state                               29131 non-null object
zipcode                             52542 non-null object
market                              52413 non-null object
smart_location                      53904 non-null object
country_code                        53904 non-null object
country                             53904 non-null object
latitude                            53904 non-null float64
longitude                           53904 non-null float64
is_location_exact                   53904 non-null object
property_type                       53904 non-null object
room_type                           53904 non-null object
accommodates                        53904 non-null int64
bathrooms                           53644 non-null float64
bedrooms                            53811 non-null float64
beds                                53731 non-null float64
bed_type                            53904 non-null object
amenities                           53904 non-null object
square_feet                         582 non-null float64
price                               53904 non-null object
weekly_price                        11742 non-null object
monthly_price                       8635 non-null object
security_deposit                    23674 non-null object
cleaning_fee                        32483 non-null object
guests_included                     53904 non-null int64
extra_people                        53904 non-null object
minimum_nights                      53904 non-null int64
maximum_nights                      53904 non-null int64
calendar_updated                    53904 non-null object
has_availability                    0 non-null float64
availability_30                     53904 non-null int64
availability_60                     53904 non-null int64
availability_90                     53904 non-null int64
availability_365                    53904 non-null int64
calendar_last_scraped               53904 non-null object
number_of_reviews                   53904 non-null int64
first_review                        37438 non-null object
last_review                         37438 non-null object
review_scores_rating                36642 non-null float64
review_scores_accuracy              36529 non-null float64
review_scores_cleanliness           36562 non-null float64
review_scores_checkin               36474 non-null float64
review_scores_communication         36560 non-null float64
review_scores_location              36487 non-null float64
review_scores_value                 36477 non-null float64
requires_license                    53904 non-null object
license                             0 non-null float64
jurisdiction_names                  1 non-null object
instant_bookable                    53904 non-null object
cancellation_policy                 53904 non-null object
require_guest_profile_picture       53904 non-null object
require_guest_phone_verification    53904 non-null object
calculated_host_listings_count      53904 non-null int64
reviews_per_month                   37438 non-null float64
dtypes: float64(20), int64(13), object(62)
memory usage: 39.1+ MB

In [7]:
lst.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,15896822,https://www.airbnb.com/rooms/15896822,20170304065726,2017-03-05,Double room in newly refurbished flat,"My place is close to TK Max, John Lewis, Marks...",NaN,"My place is close to TK Max, John Lewis, Marks...",none,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,1,0.32
1,4836957,https://www.airbnb.com/rooms/4836957,20170304065726,2017-03-05,Modern room 25m from Central London,This lovely spacious double bedroom is set in ...,////*** This Price include Parking but not Kit...,This lovely spacious double bedroom is set in ...,family,Kingston upon Thames is a vibrant Surrey marke...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.67
2,13355982,https://www.airbnb.com/rooms/13355982,20170304065726,2017-03-05,Lovely double bedroom in Kingston Upon Thames,"Spacious double bedroom, because of the light,...",NaN,"Spacious double bedroom, because of the light,...",none,NaN,...,8.0,f,NaN,NaN,f,flexible,f,f,1,0.25
3,13472704,https://www.airbnb.com/rooms/13472704,20170304065726,2017-03-05,Double Room in North Kingston (Richmond Park),"My place is good for couples, solo adventurers...",We live in a clean but relaxed & friendly envi...,"My place is good for couples, solo adventurers...",none,"It's a very friendly, family orientated neighb...",...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
4,17430865,https://www.airbnb.com/rooms/17430865,20170304065726,2017-03-05,family-friendly house,very new decorated beautiful room and very com...,NaN,very new decorated beautiful room and very com...,none,NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN

## Types of data

### Decimal data

In [8]:
lst['review_scores_rating'].head()

0    100.0
1     91.0
2     80.0
3      NaN
4      NaN
Name: review_scores_rating, dtype: float64

In [9]:
lst['review_scores_rating'].describe()

count    36642.000000
mean        91.709350
std         10.147051
min         20.000000
25%         89.000000
50%         94.000000
75%        100.000000
max        100.000000
Name: review_scores_rating, dtype: float64

To note:

- Pulling out a column (`[]` pattern)
- Missing values (`NaN`)
- Use of `.describe()`

### Counts

In [10]:
lst['bedrooms'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: bedrooms, dtype: float64

### Binary

In [11]:
lst['instant_bookable'].tail()

53899    f
53900    f
53901    f
53902    t
53903    f
Name: instant_bookable, dtype: object

### Categorical

In [12]:
lst['property_type'].head()

0    Apartment
1    Apartment
2    Apartment
3        House
4        House
Name: property_type, dtype: object

In [13]:
lst['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

### Dates

In [14]:
d = pd.to_datetime(lst['last_scraped'])

In [15]:
d.head()

0   2017-03-05
1   2017-03-05
2   2017-03-05
3   2017-03-05
4   2017-03-05
Name: last_scraped, dtype: datetime64[ns]

In [16]:
t = d[0]
t

Timestamp('2017-03-05 00:00:00')

In [17]:
t.year

2017

To note:
- Use of `pd.to_datetime`
- `Timestamp` objects
- Tab completion to explore other contents

### Spatial

In [18]:
lst[['longitude', 'latitude']].head()

   longitude   latitude
0  -0.306323  51.410036
1  -0.290704  51.411482
2  -0.286496  51.415851
3  -0.292246  51.415723
4  -0.275426  51.404285

In [19]:
from shapely.geometry import Point

x, y = lst['longitude'][0], lst['latitude'][0]
x, y

ModuleNotFoundError: No module named 'shapely'

To note:

* Row selectio in `Series` objects
* Comma-separated assignment (`x, y`)

In [ ]:
pt = Point(x, y)
#pt

To note:

* `Point` class
* Notebook representation
* Attributes (`pt.` tab-completion)

### Indices

In [ ]:
lst.head(2)

To note:

* What is an `Index`
* Default index

In [ ]:
lst.set_index('id').head(2)

A few more things to note about `DataFrame` objects:

- Two dimensional "labelled" arrays
- Mixed classes
- `NaN` native support
- In-memory database (indices provide fast query and manipulation)

---

[Break]

---

## Wrangling patterns

### Index-based queries

In [ ]:
lst['review_scores_location'].head()

In [ ]:
lst.loc[:, 'review_scores_location'].head()

To note:

* `loc[dim1, dim2]` operator
* Use of `:` wildcard

In [ ]:
lst.loc[0:5, ['review_scores_location', \
               'review_scores_accuracy']]

To note:

* Delimitted range (`0:5`) + zero-offset and order in Python
* List of elements (`['review_scores_location', 'review_scores_accuracy']`)
* Use of line break (`\`)

In [ ]:
lst.set_index('id').loc[0:5, :]

In [ ]:
lst.set_index('id').loc[15896822:13355982, :]

In [ ]:
lst.set_index('id').loc[[15896822, 13355982, 4836957], 
                        'review_scores_accuracy']

To note:

* `loc` operates on indices only!
* Ranges are allowed
* Enforce your own order if you pass a list (useful for columns!)

In [ ]:
lst.set_index('id').iloc[0:5, [10, 11]]

To note:

* Operator `iloc` is positional, irrespective of indices
* Both ranges and lists are allowed

### Value-based queries

In [ ]:
lst.loc[lst['bedrooms'] > 1, :].shape

In [ ]:
lst.loc[lst['property_type']=='Tent', :]

In [ ]:
lst.loc[lst['room_type']!='Entire home/apt', 
        ['property_type', 'room_type']].head()

In [ ]:
lst.loc[(lst['bedrooms'] >= 4) & (lst['bathrooms'] < 2), 
        'listing_url']

In [ ]:
sub = lst.loc[(lst['reviews_per_month'] > 10) &
              (lst['review_scores_rating'] > 80), :]

To note:

* Subsetting allows for `>`, `<`, `>=`, `<=`, `==`, `!=`, among others
* These can be chained and combined with other subsetting seen above
* Use of `shape`
* Assigning subset tables to new object (`sub`)

In [ ]:
sub['average_score'] = sub['review_scores_rating'] + \
                       sub['review_scores_accuracy'] + \
                       sub['review_scores_cleanliness'] + \
                       sub['review_scores_checkin'] + \
                       sub['review_scores_communication'] + \
                       sub['review_scores_location'] + \
                       sub['review_scores_value']
sub['average_score'] = sub['average_score'] / 7
sub.average_score.head()

To note:

* Column creation
* Column addition (other operations work too)
* Operations with scalars
* Access columns with `sub.` (tab-completion'able!) and why for non-interactive work it probably should be avoided
* Warnings Vs errors

Similar introduction:

> [http://darribas.org/gds17/content/labs/lab_01_i.html](http://darribas.org/gds17/content/labs/lab_01_i.html)

More stuff on indices:

> [http://pandas.pydata.org/pandas-docs/stable/indexing.html](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

And for the pros:

> [http://pandas.pydata.org/pandas-docs/stable/advanced.html](http://pandas.pydata.org/pandas-docs/stable/advanced.html)

**Exercise**

Answer the following questions:

> 1. How many lighthouses are available?
1. Could you rent an igloo with more than 3 bedrooms?
1. Is there any house with 6 bedrooms but only one bathroom?
1. And viceversa (6 bathrooms and one bedroom)?
1. What are the neighborhoods where you could find a house with more than nine bedrooms?  

---

[Break]

---

### The `apply` paradigm

In [ ]:
rsv = lst['review_scores_value']

rsv.mean()

In [ ]:
np.mean(rsv)

In [ ]:
rsv.std()

To note:

* Quick assignment to operate on `Series`
* Built-in methods
* Tab-completion on `rsv` to explore further

In [ ]:
t = lst['last_scraped'].apply(pd.to_datetime)

In [ ]:
lst.loc[0, 'last_scraped']

In [ ]:
t[0]

To note:

* `apply` on `Series` objects works element-wise

In [ ]:
rs = ['review_scores_rating',
      'review_scores_accuracy',
      'review_scores_cleanliness',
      'review_scores_checkin',
      'review_scores_communication',
      'review_scores_location',
      'review_scores_value']

In [ ]:
lst[rs].mean()

In [ ]:
lst[rs].apply(np.mean)

In [ ]:
aa1 = lst[rs].apply(np.mean, axis=1)
aa1.head()

In [ ]:
lst.loc[0:5, ['last_scraped']].apply(pd.to_datetime)

To note:

* Built-in methods *also* operate on `DataFrame` objects, not only in `Series`
* By default, these operate along axis 0, but axis 1 can also be used
* The method `apply` works as a framework for non built-in methods. This is *very* flexible!
* A one-column `DataFrame` is not the same as a `Series`

**Exercise**

1. Create a `DataFrame` that displays the average number of bedrooms and bathrooms
1. **[Pro]** Use `apply` to convert every pair of lon/lat coordinates into `Point` objects

In [ ]:
clean_price = lambda p: float(p.strip('$')\
                               .replace(',', ''))

price = lst['price'].apply(clean_price)

price.describe()

To note:

* `lambda` functions
* Floats (and ints and strings)
* Use of `strip` and `replace`
* Built-in method `describe`

In [ ]:
lst['price_cleansed'] = price

### The `groupby` paradigm

In [ ]:
lst['neighbourhood_cleansed'].unique().tolist()

In [ ]:
lst.loc[lst['neighbourhood_cleansed']=='Ealing', 
        'price_cleansed']\
   .mean()

In [ ]:
lst.loc[lst['neighbourhood_cleansed']=='Tower Hamlets', 
        'price_cleansed']\
   .mean()

In [ ]:
lst.loc[lst['neighbourhood_cleansed']=='Hackney', 
        'price_cleansed']\
   .mean()

...

In [ ]:
lst.groupby('neighbourhood_cleansed')\
   ['price_cleansed']\
   .mean()

To note:

* The `groupby` operator "chunks" a `DataFrame` based on a given variable (in this case `neighbourhood_cleansed`)
* Then we can select one (or more!) columns and use `apply` to execute a given method in each chunk
* The output is collected and assembled back into a `Series` (or `DataFrame`, depending on the operation performed)

In [ ]:
lst.groupby(['property_type', 'room_type'])\
   ['price_cleansed']\
   .mean()\
   .unstack()

To note:

* It is possible to group by more than one column
* The result of a `groupby` operation is a `DataFrame` with `MultiIndex`
* It is possible to recast the index dimensions so the second row-index becomes the first column-index (similar to table pivots in Excel)

**Exercise**

1. Create a `DataFrame` that displays the standard deviation of both price and the review scores rating for every neighbourhood
1. Obtain the average price by property type and room type
1. Generate a `DataFrame` of summary statistics for the price (using `describe`) for every neighbourhood

### Joins

In [ ]:
import geopandas as gpd

In [ ]:
neis = gpd.read_file('data/neighbourhoods.geojson')

neis.info()

To note:

* `geopandas` for geospatial data
* Geopandas uses a generic `read_file`
* There is a `geometry` column that stores geometry information (same as `Point` class above but for polygons in this case)
* This table contains the geometries for every neighborhood in the `neighbourhood_cleansed` category

In [ ]:
areas = neis.to_crs(epsg=27700).area / 1e6
neis['area'] = areas
areas.head()

To note:

* Reproject into GB national grid so it's expressed in sq. metres and convert into sq. Km
* Additional properties of `GeoDataFrames` for explicitly spatial operations (e.g. `area`)

In [ ]:
tojoin = neis.set_index('neighbourhood')[['area']]
tojoin.head()

In [ ]:
joined = lst.join(tojoin, on='neighbourhood_cleansed')
joined[['id', 'neighbourhood_cleansed', 'area']].info()

In [ ]:
joined = lst.join(tojoin)
joined[['id', 'neighbourhood_cleansed', 'area']].info()

In [ ]:
joined = lst.set_index('neighbourhood_cleansed').join(tojoin)
joined[['id', 'area']].info()

More stuff on joins:

> [**`ENTER LINK!!!`**](ph)

---

In [ ]:
tokeep = rs + ['id', 'last_scraped', 'last_review', \
               'neighbourhood_cleansed', \
               'longitude', 'latitude', \
               'room_type', 'property_type', \
               'bathrooms', 'bedrooms', 'beds', \
               'price_cleansed', 'area']

In [ ]:
joined = lst.join(tojoin, on='neighbourhood_cleansed')
joined[tokeep].to_csv('data/analysis_ready.csv.gz',
                      index=False,
                      compression='gzip')

To note:

* Keep only relevant variables for subsequent analysis (`tokeep`)
* Write to a (compressed) csv
* Ignore index when writing as it's a simple range
* File size: 52Mb --> 1.6Mb

---

**Exercise**

1. Download the `calendar.csv.gz` file from the same website, which provides a much more fine grained view into the evolution of prices over time for every property
1. Parse dates appropriately into a new column named `date_cleansed`
1. Create two subtables: one for data captured on March 5th. 2017, and another one for Feb. 28th 2018
1. For each of those tables, parse the price by: a) eliminating the `$` sign, b) replacing `,` by nothing (ie. removing `,`), and c) converting the bit of text into a numeric value (ie. a `float`)
1. Join these prices to their room and property types, as well as the neighbourhood where they are located, as stored in `lst`
1. Calculate the overall average price at both points in time
1. Create a table that shows the variation in price by room type and neighbourhood at each point in time